@page "/scripts"

@if (Scripts == null)
{
				<div class="d-flex justify-center">
								<MudImage Src="images/loading.gif"/>
				</div>
}
else
{
    <MudText>Scripts</MudText>
    <AuthorizeView>
        <Authorized>
            <MudButton Color="Color.Primary" OnClick="AddScript">Add script</MudButton>
        </Authorized>
    </AuthorizeView>
    <MudPaper Outlined="true">
        <MudList Clickable="true">
            @foreach (var script in Scripts)
            {
                <MudListItem Icon="@Icons.Material.Filled.FilePresent" OnClick="() => ScriptClick(script)">
																				<MudText>@($"{script.Name}.{script.Type}")</MudText>
																				<AuthorizeView>
																								<MudButton OnClick="() => ScriptClick(script)" Color="Color.Warning">Edit</MudButton>
																								<MudButton OnClick="() => DeleteScriptAsync(script)" Color="Color.Warning">Delete</MudButton>
																				</AuthorizeView>
                </MudListItem>
                <MudDivider />
            }
        </MudList>
    </MudPaper>
}