@page "/scripts"

@if (Scripts == null)
{
				<div class="d-flex justify-center">
								<MudImage Src="images/loading.gif"/>
				</div>
}
else
{
    <MudText>Scripts</MudText>
    <MudPaper Outlined="true">
        <MudList Clickable="true">
            @foreach (var script in Scripts)
            {
                <MudListItem Text="@script.FullName" Icon="@Icons.Material.Filled.FilePresent" OnClick="() => ScriptClick(script)"></MudListItem>
                <MudDivider />
            }
        </MudList>
    </MudPaper>
}